@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 100%;
}

.scrollbar-w-2::-webkit-scrollbar-track {
  background: #343941;
}

.scrollbar-w-2::-webkit-scrollbar-thumb {
  background: #ffffff;
}
